@model MyShop.Models.PageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section left_menu{
    <div class="panel-group left_menu col-md-3 hidden-xs hidden-sm" id='left_menu'>
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class='icon-line-menu'></i> Menu
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                @{Html.RenderAction("Category", "Home");}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.left_menu').addClass('left_menu_sticker');
        });
    </script>
    <script>
        $(window).load(function () {
            $('.left_menu').addClass('left_menu_sticker');
        });
    </script>
}

@section title{
    <section id="page-title">
        <div class="container clearfix">
            <h1 class="col-md-6 col-sm-6">@Model.Name</h1>
            <ol class="breadcrumb col-md-6 col-sm-6 hidden-xs">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">@Model.Name</li>
            </ol>
        </div>
    </section>
}


<div class="content-wrap">
    <style>
        .content-wrap ul {
            margin-left: 30px;
        }
    </style>
    <div class="container clearfix">
        <div>@Html.Raw(Model.Content)</div>
    </div>
</div>
