@model IEnumerable<MyShop.Models.PostCategoryViewModel>

<ul>
    @foreach (var cate in Model)
    {
        var url = "/bai-viet/" + cate.Alias + "/";
        <li><a href="@url">@cate.Name</a></li>
    }
</ul>
