@model IEnumerable<MyShop.Models.ProductCategoryViewModel>

<ul class='sidebar_menu'>
    <li><a href="/san-pham/all/">Tất cả sản phẩm</a></li>
    <li><a href="/san-pham/noi-bat/">Sản phẩm nổi bật</a></li> 
    @foreach (var category in Model.Where(x => x.ParentID == null))
    {
        var childCategories = Model.Where(x => x.ParentID == category.ID);
        if (childCategories.Count() > 0)
        {
            <li>
                <a href="/san-pham/@category.Alias-@category.ID/">@category.Name</a>
                <i class='icon-line-plus'></i>
                <ul class='sidebar_submenu'>
                    @foreach (var childCategory in childCategories)
                    {
                        <li>
                            <a href="/san-pham/@childCategory.Alias-@childCategory.ID/">@childCategory.Name</a>
                        </li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li>
                <a href="/san-pham/@category.Alias-@category.ID/">@category.Name</a>
            </li>
        }
    }    
    <li><a href="/san-pham/news/">Hàng mới về</a></li>
    <li><a href="/san-pham/duoc-xem-nhieu/">Được xem nhiều</a></li>
    <li><a href="/san-pham/khuyen-mai/">Đang khuyến mãi</a></li>
</ul>
