@model IEnumerable<MyShop.Models.ProductCategoryViewModel>

<ul class='sidebar_menu'>
    <li><a href="all.html">Tất cả sản phẩm</a></li>
    <li><a href="hot-products.html">Sản phẩm nổi bật</a></li> 
    @foreach (var category in Model.Where(x => x.ParentID == null))
    {
        var childCategories = Model.Where(x => x.ParentID == category.ID);
        if (childCategories.Count() > 0)
        {
            <li>
                <a href="/san-pham/@category.Alias/">@category.Name</a>
                <i class='icon-line-plus'></i>
                <ul class='sidebar_submenu'>
                    @foreach (var childCategory in childCategories)
                    {
                        <li>
                            <a href="/san-pham/@childCategory.Alias/">@childCategory.Name</a>
                        </li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li>
                <a href="/san-pham/@category.Alias/">@category.Name</a>
            </li>
        }
    }    
    <li><a href="hang-moi-ve.html">Hàng mới về</a></li>
    <li><a href="duoc-xem-nhieu.html">Được xem nhiều</a></li>
    <li><a href="khuyen-mai.html">Đang khuyến mãi</a></li>
</ul>
