<div id="post-list-footer">

    <div class="spost clearfix">
        <div class="entry-image">
            <a href="../../../products/loa-bluetooth-globo-3.html"><img src="/Assets/client/hstatic.net/589/1000057589/1/2015/12-9/blurock.2-2_small.jpg" alt="Loa bluetooth bluRock.2"></a>
        </div>
        <div class="entry-c">
            <div class="entry-title">
                <h4><a href="../../../products/loa-bluetooth-globo-3.html">Loa bluetooth bluRock.2</a></h4>
            </div>
            <ul class="entry-meta">
                <li class="color">
                    <ins> 1,995,000₫</ins>

                </li>
                <!--<li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>-->
            </ul>
        </div>
    </div>

    <div class="spost clearfix">
        <div class="entry-image">
            <a href="../../../products/loa-bluetooth-curvo.html"><img src="/Assets/client/hstatic.net/589/1000057589/1/2015/12-8/curvo-2_small.jpg" alt="Loa bluetooth Curvo"></a>
        </div>
        <div class="entry-c">
            <div class="entry-title">
                <h4><a href="../../../products/loa-bluetooth-curvo.html">Loa bluetooth Curvo</a></h4>
            </div>
            <ul class="entry-meta">
                <li class="color">
                    <ins> 998,000₫</ins>
                    <del>1,200,000₫</del>
                </li>
                <!--<li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>-->
            </ul>
        </div>
    </div>

    <div class="spost clearfix">
        <div class="entry-image">
            <a href="../../../products/loa-bluetooth-globo-2.html"><img src="/Assets/client/hstatic.net/589/1000057589/1/2015/12-9/globo-2-7_small.jpg" alt="Loa bluetooth Globo-2"></a>
        </div>
        <div class="entry-c">
            <div class="entry-title">
                <h4><a href="../../../products/loa-bluetooth-globo-2.html">Loa bluetooth Globo-2</a></h4>
            </div>
            <ul class="entry-meta">
                <li class="color">
                    <ins> 790,000₫</ins>
                    <del>950,000₫</del>
                </li>
                <!--<li><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li>-->
            </ul>
        </div>
    </div>

</div>
