<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="https://hstatic.net/589/1000057589/1000148995/favicon.png?v=258" type="image/png">
    <title>
        ePhuKien - Thanh toán đơn hàng
    </title>

    <meta name="description" content="ePhuKien - Thanh toán đơn hàng">

    <link href="~/Assets/client/hstatic.net/589/1000057589/1000148995/check_out.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Assets/client/hstatic.net/589/1000057589/1000148995/jquery.min.js"></script>
    <script src="~/Assets/client/hstatic.net/589/1000057589/1000148995/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/plugins/mustache.min.js"></script>
    <script src="~/Assets/client/js/plugins/numeral.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">
</head>
<body class="step1">
    @RenderBody()
    @RenderSection("footerJS", required: false)
</body>
</html>