<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<!-- Mirrored from ephukien.myharavan.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Sep 2016 15:51:57 GMT -->
<!-- Added by HTTrack -->

<head>
    <link rel="shortcut icon" href="/Assets/client/hstatic.net/589/1000057589/1000148995/favicon2208.png?v=258" type="image/png" />
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
    <title>
        ePhuKien
    </title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0' name='viewport' />
    <link rel="canonical" href="index.html" />

    <link rel="stylesheet" type="text/css" href="/Assets/client/hstatic.net/0/global/design/member/fonts/opensans.css">


    <script src='/Assets/client/hstatic.net/589/1000057589/1000148995/jquery2208.js?v=258' type='text/javascript'></script>
    <!-- Haravan plugins BEGIN -->
    <script async src="/Assets/client/hstatic.net/0/0/global/option_selection.js" type="text/javascript"></script>
    <script async src="/Assets/client/hstatic.net/0/0/global/api.jquery.js" type="text/javascript"></script>
    <!-- Haravan plugins END -->
    <!-- shop-asset -->
    <!-- Fonts START -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Lato+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"><!--- fonts for slider on the index page -->
    <!-- Fonts END -->
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/bootstrap2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/style2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/dark2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/font-icons2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/animate2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/magnific-popup2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/font_default2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/responsive2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script src='/Assets/client/hstatic.net/589/1000057589/1000148995/plugins2208.js?v=258' type='text/javascript'></script>
    <!-- custom style -->
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/custom_style2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <!-- External JavaScripts
    ============================================= -->
    <!-- OWL CAROUSEL -->
    <!--<link href='//hstatic.net/589/1000057589/1000148995/owl.carousel.css?v=258' rel='stylesheet' type='text/css'  media='all'  />
    <script src='//hstatic.net/589/1000057589/1000148995/owl.carousel.min.js?v=258' type='text/javascript'></script>-->
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src='/Assets/client/hstatic.net/589/1000057589/1000148995/jquery.themepunch.tools.min2208.js?v=258' type='text/javascript'></script>
    <script src='/Assets/client/hstatic.net/589/1000057589/1000148995/jquery.themepunch.revolution.min2208.js?v=258' type='text/javascript'></script>
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/settings2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <!-- script.js -->
    <!--vinh edited 20160803 #T2V-->
    <script async src="/Assets/client/hstatic.net/589/1000057589/1000148995/script2208.js?v=258" type="text/javascript"></script>
    <!-- BEGIN products scripts -->
    <!--vinh edited 20160803 #T2V-->
    <script async src="/Assets/client/hstatic.net/589/1000057589/1000148995/fly-to-cart-aothun2208.js?v=258" type="text/javascript"></script>
    <!-- END products scripts -->
    <!-- BEGIN fancy box -->
    <script async src="/Assets/client/hstatic.net/589/1000057589/1000148995/jquery.fancybox.pack2208.js?v=258" type="text/javascript"></script>
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/jquery.fancybox2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <!-- END fancy box -->
    <!-- responsive menu -->
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/simple-sidebar2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <!-- end responsive menu -->
    <!-- pwg slider -->
    <link href='/Assets/client/hstatic.net/589/1000057589/1000148995/pgwslideshow.min2208.css?v=258' rel='stylesheet' type='text/css' media='all' />
    <!--vinh edited 20160803 #T2V-->
    <script async src="/Assets/client/hstatic.net/589/1000057589/1000148995/pgwslideshow.min2208.js?v=258" type="text/javascript"></script>
    <script type='text/javascript'>
        //<![CDATA[
        if ((typeof Haravan) === 'undefined') {
            Haravan = {};
        }
        Haravan.culture = 'vi-VN';
        Haravan.shop = 'ephukien.myharavan.com';
        Haravan.theme = { "name": "ephukien_hrv_v1.2_20160812", "id": 1000148995, "role": "main" };
        Haravan.domain = 'ephukien.myharavan.com';
        //]]>
    </script>

</head>
<body class="stretched no-transition">

    <!-- Document Wrapper
    ============================================= -->
    <!-- mobile menu -->
    <div id="menu-wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!-- Top Search
                ============================================= -->
                <div id="top-search-sm">
                    <!--<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>-->
                    <form action="https://ephukien.myharavan.com/search">
                        <input type="hidden" name="type" value="product" />
                        <input type="text" name="q" class="form-control" placeholder="Tìm kiếm..">
                    </form>
                </div><!-- #top-search end -->


                <li class=''><a href="collections/all.html">Tất cả sản phẩm</a></li>



                <li class=''>
                    <a href="collections/thiet-bi-am-thanh.html" class='menu'>Thiết bị âm thanh<span>+</span></a>
                    <ul>


                        <li class=''><a class='sub-menu' href="collections/loa-di-dong.html"><div>Loa di động</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/tai-nghe-bluetooth.html"><div>Tai nghe Bluetooth</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/tai-nghe-co-day.html"><div>Tai nghe có dây</div></a></li>


                    </ul>
                </li>



                <li class=''>
                    <a href="collections/pin-va-bo-sac.html" class='menu'>Pin và bộ sạc<span>+</span></a>
                    <ul>


                        <li class=''><a class='sub-menu' href="collections/pin-sac-du-phong.html"><div>Pin sạc dự phòng</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/bo-sac-da-dung.html"><div>Bộ sạc đa dụng</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/sac-tren-o-to.html"><div>Sạc trên ô tô</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/bao-da-co-nguon-sac"><div>Bao da có nguồn sạc</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/sac-khong-day"><div>Sạc không dây</div></a></li>


                    </ul>
                </li>



                <li class=''>
                    <a href="collections/bao-da-op-lung.html" class='menu'>Bao da / Ốp lưng<span>+</span></a>
                    <ul>


                        <li class=''><a class='sub-menu' href="collections/galaxy-s6-edge.html"><div>Galaxy S6/Edge</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/iphone-6.html"><div>iPhone 6</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/iphone-6-plus.html"><div>iPhone 6 Plus</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/iphone-5-5s.html"><div>iPhone 5 / 5s</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/iphone-5c.html"><div>iPhone 5c</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/galaxy-s5.html"><div>Galaxy S5</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/galaxy-s4.html"><div>Galaxy S4</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/galaxy-note-3.html"><div>Galaxy Note 3</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/htc-one-m8.html"><div>HTC One M8</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/galaxy-note-4.html"><div>Galaxy Note 4</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/bao-da-op-lung-may-tinh-bang.html"><div>Bao da / Ốp lưng máy tính bảng</div></a></li>


                    </ul>
                </li>



                <li class=''>
                    <a href="collections/phu-kien-tren-xe.html" class='menu'>Phụ kiện trên xe<span>+</span></a>
                    <ul>


                        <li class=''><a class='sub-menu' href="collections/phu-kien-xe-dap.html"><div>Phụ kiện xe đạp</div></a></li>



                        <li class=''><a class='sub-menu' href="collections/bo-phat-nhac-fm.html"><div>Bộ phát nhạc / FM</div></a></li>


                    </ul>
                </li>



                <li class=''><a href="collections/hang-moi-ve.html">Hàng mới về</a></li>



                <li class=''><a href="collections/duoc-xem-nhieu.html">Được xem nhiều</a></li>



                <li class=''><a href="collections/khuyen-mai.html">Đang khuyến mãi</a></li>



                <li class=''><a href="collections/hot-products.html">Nổi bật</a></li>


            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class='icon-reorder'></i></a>
        <!-- Page Content -->
        <!-- /#page-content-wrapper -->
    </div>
    <!-- end mobile menu -->
    <div id="wrapper" class="clearfix">
        <!-- style="animation-duration: 1.5s; opacity: 1;"-->

        @RenderSection("left_menu", required: true)

        <!-- Top Bar
        ============================================= -->
        @{ Html.RenderAction("TopBar", "Home");}

        <!-- #top-bar end -->
        <!-- Header
        ============================================= -->
        <header id="header">
            <div id="header-wrap">
                <div class="container clearfix">
                    <!--<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>-->
                    <!-- Logo
                    ============================================= -->
                    <div class="row">

                        <div id="logo" class="col-md-3 col-lg-3">
                            <a href="/" class="standard-logo" data-dark-logo="//hstatic.net/589/1000057589/1000148995/logo.png?v=258"><img src="/Assets/client/hstatic.net/589/1000057589/1000148995/logo2208.png?v=258" alt="ePhuKien"></a>
                            <a href="/" class="retina-logo" data-dark-logo="//hstatic.net/589/1000057589/1000148995/logo.png?v=258"><img src="/Assets/client/hstatic.net/589/1000057589/1000148995/logo2208.png?v=258" alt="ePhuKien"></a>
                        </div><!-- #logo end -->

                        <h1 style="display:none">
                            <a href="index.html">ePhuKien</a>
                        </h1>


                        <!-- #logo end -->
                        <!-- Top Search
                        ============================================= -->
                        <!-- Top Search
                        ============================================= -->
                        <div class='top_search col-md-9 col-lg-9'>
                            <form class='col-md-9 form-inline hidden-xs hidden-sm'>
                                <!--	<input type="hidden" name="type" value="product" />-->
                                <div class='form-group col-md-12'>

                                    <input type="text" name="q" class="form-control col-md-8 search_input" placeholder="Nhập từ khóa.." value=''>
                                    <select class='collection col-md-3 search_collection'>
                                        <option value='0'>Tất cả sản phẩm</option>


                                        <option value='1000267382'>Giá đỡ điện thoại</option>



                                        <option value='1000267381'>Bộ phát nhạc / FM</option>



                                        <option value='1000267380'>Phụ kiện xe đạp</option>



                                        <option value='1000267378'>Bao da / Ốp lưng máy tính bảng</option>



                                        <option value='1000267377'>Galaxy Note 4</option>



                                        <option value='1000267375'>HTC One M8</option>



                                        <option value='1000267374'>Galaxy Note 3</option>



                                        <option value='1000267373'>Galaxy S4</option>



                                        <option value='1000267371'>Galaxy S5</option>



                                        <option value='1000267370'>iPhone 5c</option>



                                        <option value='1000267369'>iPhone 5 / 5s</option>



                                        <option value='1000267366'>iPhone 6 Plus</option>



                                        <option value='1000267365'>iPhone 6</option>



                                        <option value='1000267364'>Galaxy S6/Edge</option>



                                        <option value='1000267363'>Sạc không dây</option>



                                        <option value='1000267362'>Bao da có nguồn sạc</option>



                                        <option value='1000267360'>Sạc trên ô tô</option>



                                        <option value='1000267359'>Bộ sạc đa dụng</option>



                                        <option value='1000267358'>Pin sạc dự phòng</option>



                                        <option value='1000267345'>Tai nghe có dây</option>



                                        <option value='1000267344'>Tai nghe Bluetooth</option>



                                        <option value='1000267343'>Loa di động</option>



                                        <option value='1000267342'>Đang khuyến mãi</option>



                                        <option value='1000267338'>Được xem nhiều</option>



                                        <option value='1000267337'>Hàng mới về</option>



                                        <option value='1000267336'>Phụ kiện trên xe</option>



                                        <option value='1000267335'>Bao da / Ốp lưng</option>



                                        <option value='1000267334'>Pin và bộ sạc</option>



                                        <option value='1000267333'>Thiết bị âm thanh</option>



                                        <option value='1000266924'>Sản phẩm nổi bật</option>




                                    </select>
                                    <a class='button col-md-1' href='#'><i class='icon-search3'></i></a>
                                </div>
                            </form>
                            <div id="top-cart" class='top-cart-block col-md-3'>
                                @{ Html.RenderAction("HeaderCart", "Home");}
                            </div>
                        </div>
                        <!-- #top-search end -->
                        <!-- top link trigger --->
                        <a href='#' id='top_link_trigger' class='hidden-lg hidden-md'><i class='icon-ellipsis-vertical'></i></a>
                        <!-- end top link trigger --->
                        <script>
                            $("#sidebar-wrapper ul li a span").click(function (event) {
                                event.preventDefault();
                                var li = $(this).parents('li');
                                li.children('ul').toggle('slow');
                            });
                        </script>
                        <!-- #primary-menu end -->
                    </div>
                </div>
        </header>
        <!-- #header end -->
        <!-- Content
        ============================================= -->
        @RenderSection("title", required: true)

        <section id="content">
            @RenderBody()
        </section>
        <!-- #content end -->
        <!-- Footer
        ============================================= -->
        @{ Html.RenderAction("Footer", "Home");}



        <!-- #footer end -->
    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- Footer Scripts
    ============================================= -->
    <!--vinh edited 20160803 #T2V-->
    <script async src="/Assets/client/hstatic.net/589/1000057589/1000148995/functions2208.js?v=258" type="text/javascript"></script>

    <!-- quick add cart -->
    <div id='product-pop-up' style="display:none;" class="single-product shop-quick-view-ajax clearfix">
        <div class="ajax-modal-title">
            <a href='#'><h2>Pink Printed Dress</h2></a>
        </div>
        <div class="product-page product modal-padding clearfix">
            <div class="col_half nobottommargin">
                <div class="product-image">
                    <div class="product-main-image">
                        <ul class="pgwSlideshow"></ul>
                    </div>
                    <div class="sale-flash">Sale!</div>
                </div>
            </div>
            <div class="col_half nobottommargin col_last product-desc">
                <div class="product-price"> <ins style='margin-right: 5px;'>$24.99</ins> <del>$39.99</del></div>
                <!--<div class="product-rating">
                <i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star-half-full"></i>
                <i class="icon-star-empty"></i>
                </div>-->
                <div class="clear"></div>
                <div class="line"></div>
                <!-- variants -->
                <div class="product-page-options ">
                    <div class="sizePicker">
                        <label class="control-label options-title">Kích thước:</label>
                        <div class='options-selection'>
                            <select class="form-control input-sm size"></select>
                        </div>
                    </div>
                    <div class="sizePicker">
                        <label class="control-label options-title">Màu sắc:</label>
                        <div class='options-selection'>
                            <select class="form-control input-sm color" style='color:#555!important;'></select>
                        </div>
                    </div>
                    <div class="sizePicker">
                        <label class="control-label options-title">Chất liệu:</label>
                        <div class='options-selection'>
                            <select class="form-control input-sm material"></select>
                        </div>
                    </div>
                </div>
                <!-- end variant -->
                <!-- Product Single - Quantity & Cart Button
                ============================================= -->
                <form id='ProductDetailsFormQV' class="cart nobottommargin clearfix">
                    <div class="quantity product-quantity clearfix col-xs-6 noleftpadding">
                        <input type="button" value="-" class="minus">
                        <input type="text" class='qty' id='product_quantity' readonly step="1" min="1" name="quantity" value="1" title="Qty" class="qty" size="4" />
                        <input type="button" value="+" class="plus">
                    </div>
                    <script>


                    </script>
                    <div class="hidden" style="">
                        <select id="product-select-qw" name="id"></select>
                        <input type="hidden" class="unit_price_not_formated" value="">
                        <input type="hidden" class="product_url" value="">
                        <input type="hidden" class="product_title_hd" value="">
                        <input type="hidden" class="product_img_small" value="">
                    </div>
                    <button type="submit" id='addtocartQV' class="add-to-cart button nomargin col-xs-6">Add to cart</button>
                    <button class='buy_btn button col-xs-12' id='buynow'>Mua ngay</button>
                </form><!-- Product Single - Quantity & Cart Button End -->
                <div class="clear"></div>
                <div class="line"></div>
                <p class="description">Libero velit id eaque ex quae laboriosam nulla optio doloribus! Perspiciatis, libero, neque, perferendis at nisi optio dolor!</p>
            </div>
        </div>
    </div>
    <script>
        var callBackQV = function (variant, selector) {
            // console.log('callBackQV  is functioning...');

            var $tagPrice = '#product-pop-up .product-price ins';
            var $tagPriceCompare = '#product-pop-up .product-price del';
            var $tagProductSection = '#ProductDetailsFormQV';
            update_variant(variant, $tagPrice, $tagPriceCompare, '#addtocartQV', $tagProductSection);

        }

        /*
           *  strip_html_js
           *
           * ref: http://stackoverflow.com/questions/822452/strip-html-from-text-javascript
           * author phong.nguyen 20150806
           */
        function strip_html_js(html) {
            var tmp = document.createElement("DIV");
            tmp.innerHTML = html;
            return tmp.textContent || tmp.innerText || "";
        }

        var quickViewProduct = function (purl) {

            // if ($(window).width() < 680) { window.location = purl; return false; }
            // modal = $('#quick-view-modal'); modal.modal('show');
            $.ajax({
                url: purl + '.js',
                async: false,
                success: function (product) {

                    //console.log('quick view...asd01');
                    //make-up "product-pop-up"

                    //
                    if (product.images.length == 0) {
                        $('#product-pop-up .product-main-image img').attr('src', '/Assets/client/hstatic.net/0/0/global/noDefaultImage6_large.gif');
                    }
                    else {
                        var html = '';
                        $('#product-pop-up .product-main-image .pgwSlideshow').remove();
                        html = '<ul class="pgwSlideshow">';
                        $.each(product.images, function (i, v) {
                            html += '<li><img src="' + v + '" data-large-src="' + v + '"></li>';
                        });
                        html += '</ul>';
                        $('#product-pop-up .product-main-image').html(html);
                        var iflag = 0;
                        $('#product-pop-up .product-main-image img').load(function () {
                            iflag++;
                            if (iflag == $('#product-pop-up .product-main-image img').length) {

                                $('.pgwSlideshow').pgwSlideshow();
                            }
                        });

                    }//end images length


                    // render basic info. main img, desc, qty, ...
                    var $strDesc = (product.description);
                    var $strPrice = Haravan.formatMoney(product.price, "{{amount}} VND") + 'đ';
                    var $strComparePrice = Haravan.formatMoney(product.compare_at_price, "{{amount}} VND") + 'đ';
                    $('#product-pop-up .description').html($strDesc.split(" ").splice(0, 50).join(" ") + ' ...');   // truncate 50 words
                    $('#product-pop-up .ajax-modal-title a').attr('href', purl);
                    $('#product-pop-up .ajax-modal-title h2').html(product.title);
                    $('#product-pop-up .product-price ins').html($strPrice);
                    if (product.price < product.compare_at_price) {
                        $('#product-pop-up .product-price del').html($strComparePrice);
                    }
                    else {
                        $('#product-pop-up .product-price del').html('');
                        $('#product-pop-up .sale-flash').hide();
                    }
                    $('#product-pop-up .qty').val(1);
                    var quantity = parseInt($('#ProductDetailsFormQV .product-quantity input.qty').val());
                    $('#ProductDetailsFormQV .minus').click(function () {
                        if (quantity > 0) {
                            if (quantity == 1) {
                                $('#addtocartQV').attr('disabled', 'disabled');
                            }
                            quantity -= 1;

                        }
                        else {
                            quantity = 0;
                        }
                        $('#ProductDetailsFormQV .product-quantity input.qty').val(quantity);
                    });
                    $('#ProductDetailsFormQV .plus').click(function () {
                        $('#addtocartQV').removeAttr('disabled');
                        if (quantity < 100) {
                            quantity += 1;
                        }
                        else {
                            quantity = 100;
                        }
                        $('#ProductDetailsFormQV .product-quantity input.qty').val(quantity);
                    });
                    $('#product-pop-up .more_details').attr('href', product.url);
                    // assign hidden values
                    $('#product-pop-up .unit_price_not_formated').val(product.price);
                    $('#product-pop-up .product_title_hd').val(product.title);
                    $('#product-pop-up .product_url').val(product.url);
                    $('#product-pop-up .product_img_small').val(product.featured_image);  // AAA!!!

                    //render variant size/color
                    // $('#product-pop-up .price strong').html(product.title);

                    //render selections (NOT formatted yet)
                    $('select#product-select-qw').html('');
                    $('.product-page-options select.size').html('');
                    $('.product-page-options select.color').html('');
                    $('.product-page-options select.material').html('');
                    $('.selector-wrapper').remove(); // remove all selectors by  Haravan.OptionSelectors
                    var $arrSize = [];
                    var $arrColor = [];
                    var $arrMaterial = [];
                    $.each(product.variants, function (i, v) {
                        $('select#product-select-qw').append("<option value='" + v.id + "'>" + v.title + ' - ' + v.price + "</option>");
                        if ($arrSize.indexOf(v.option1) <= -1) {
                            $('#product-pop-up select.size').append("<option >" + v.option1 + "</option>");
                            $arrSize.push(v.option1);
                        }

                        if ($arrColor.indexOf(v.option2) <= -1) {
                            $('#product-pop-up select.color').append("<option >" + v.option2 + "</option>");
                            $arrColor.push(v.option2);
                        }

                        if ($arrMaterial.indexOf(v.option3) <= -1) {
                            $('#product-pop-up select.material').append("<option >" + v.option3 + "</option>");
                            $arrMaterial.push(v.option3);
                        }
                    });

                    //phong.nguyen 20150806: show label options 1,2,...
                    $($('#product-pop-up .product-page-options label')[0]).html(product.options[0].name);

                    var $option1_label = $('#product-pop-up .product-page-options label')[1];
                    var $option1_item = $('#product-pop-up .product-page-options .sizePicker')[1];
                    var $option2_label = $('#product-pop-up .product-page-options label')[2];
                    var $option2_item = $('#product-pop-up .product-page-options .sizePicker')[2];
                    if (product.options.length >= 2) {
                        $($option1_label).html(product.options[1].name);
                        $($option1_item).removeClass('hidden');
                        if (product.options.length >= 3) {
                            $($option2_label).html(product.options[2].name);
                            $($option2_item).removeClass('hidden');
                        }
                        else {
                            $($option2_item).addClass('hidden');
                        }
                    }
                    else {
                        $($option1_item).addClass('hidden');
                        $($option2_item).addClass('hidden');
                    }


                    //show/hide for any/1 variant
                    if (product.variants.length <= 1 && product.variants[0].title.indexOf('Default') != -1) {
                        // callBackQV(product.variants[0], null);
                        $('#product-pop-up .product-page-options').addClass('hidden');
                    }
                    else {
                        // // debugger...
                        $('#product-pop-up .product-page-options').removeClass('hidden');

                    }

                    //call back function for variants
                    new Haravan.OptionSelectors("product-select-qw", { product: product, onVariantSelected: callBackQV });


                    // function: choose size
                    $('#product-pop-up select.size').change(function () {
                        var $size = $(this).val();
                        var $color = $('#product-pop-up select.color').val();
                        var $material = $('#product-pop-up select.material').val();
                        var $tagSelectOption0 = '#product-select-qw-option-0';
                        var $tagSelectOption1 = '#product-select-qw-option-1';
                        var $tagSelectOption2 = '#product-select-qw-option-2';

                        refreshProductSelections($tagSelectOption0, $size, $tagSelectOption1, $color, $tagSelectOption2, $material);
                    });

                    // function: choose color
                    $('#product-pop-up select.color').change(function () {
                        var $size = $('#product-pop-up select.size').val();
                        var $color = $(this).val();
                        var $material = $('#product-pop-up select.material').val();
                        var $tagSelectOption0 = '#product-select-qw-option-0';
                        var $tagSelectOption1 = '#product-select-qw-option-1';
                        var $tagSelectOption2 = '#product-select-qw-option-2';

                        refreshProductSelections($tagSelectOption0, $size, $tagSelectOption1, $color, $tagSelectOption2, $material);
                    });

                    // function: choose material
                    $('#product-pop-up select.material').change(function () {
                        var $size = $('#product-pop-up select.size').val();
                        var $color = $('#product-pop-up select.color').val();
                        var $material = $(this).val();
                        var $tagSelectOption0 = '#product-select-qw-option-0';
                        var $tagSelectOption1 = '#product-select-qw-option-1';
                        var $tagSelectOption2 = '#product-select-qw-option-2';

                        refreshProductSelections($tagSelectOption0, $size, $tagSelectOption1, $color, $tagSelectOption2, $material);
                    });


                    //second item: $($("#colorPicker option").get(1))...
                    $("#product-pop-up select.size option:first").attr('selected', 'selected');
                    $("#product-pop-up select.color option:first").attr('selected', 'selected');
                    $("#product-pop-up select.material option:first").attr('selected', 'selected');
                    var $size = $("#product-pop-up select.size option:first").val();
                    var $color = $("#product-pop-up select.color option:first").val();
                    var $material = $("#product-pop-up select.material option:first").val();
                    var $tagSelectOption0 = '#product-select-qw-option-0';
                    var $tagSelectOption1 = '#product-select-qw-option-1';
                    var $tagSelectOption2 = '#product-select-qw-option-2';

                    refreshProductSelections($tagSelectOption0, $size, $tagSelectOption1, $color, $tagSelectOption2, $material);


                }//end: success
            });

            //$('.modal-backdrop').css('opacity', '0');
            return false;
        }
    </script>
    <div id="product-quick-add" style="display: none; width: 700px;">
        <div class="product-page ">
            <div class="row">
                <form id="ProductDetailsForm_QuickAdd">
                    <div class="hidden" style="">
                        <select id="product-select-qa" name="id"></select>
                        <input type="hidden" class="unit_price_not_formated"><!-- </input> -->
                        <input type="hidden" class="product_url" value=""> <!--</input>-->
                        <input type="hidden" class="product_title_hd" value=""> <!--</input>-->
                        <input type="hidden" class="product_img_small" value=""> <!--</input>-->
                    </div>
                    <input id="product-quantity" name="quantity" type="text" value="1" readonly class="form-control input-sm quantity">
                    <button id="addtocartQA" class="btn btn-primary" type="submit">Thêm vào giỏ</button>
                </form>
            </div>  <!-- END: row -->
        </div>
    </div>
    <script>
        var currentIMG = '';
        jQuery(".product_quick_add").each(function () {
            $(this).on('click', function (event) {
                event.preventDefault();

                // quick add
                currentIMG = $(this).parents('.product').find('.product-image img');
                quickAddProduct($(this).attr('href')); // make-up "#product-quick-add"

            });
        });

        var callBackQuickAdd = function (variant, selector) {
            // console.log('callBackQV  is functioning...');

            var $tagPrice = '#product-quick-add .price strong';
            var $tagPriceCompare = '#product-quick-add .price em span';
            var $tagProductSection = '#ProductDetailsForm_QuickAdd';
            update_variant(variant, $tagPrice, $tagPriceCompare, '#addtocartQA', $tagProductSection);
        }
        var quickAddProduct = function (purl) {

            // if ($(window).width() < 680) { window.location = purl; return false; }
            // modal = $('#quick-view-modal'); modal.modal('show');
            $.ajax({
                url: purl + '.js',
                async: false,
                success: function (product) {

                    //make-up "#product-quick-add"
                    // assign hidden values
                    $('#product-quick-add .product_title_hd').val(product.title);
                    $('#product-quick-add .product_url').val(product.url);
                    $('#product-quick-add .product_img_small').val(product.featured_image);  // AAA!!!

                    //render selections (NOT formatted yet)
                    $('select#product-select-qa').html('');
                    $('.selector-wrapper').remove(); // remove all selectors by  Haravan.OptionSelectors
                    // var $arrSize = [];
                    // var $arrColor = [];
                    $.each(product.variants, function (i, v) {
                        $('select#product-select-qa').append("<option value='" + v.id + "'>" + v.title + ' - ' + v.price + "</option>");
                        // if($arrSize.indexOf(v.option1) <= -1 )
                        // {
                        // $('#product-quick-add select.size').append("<option >" + v.option1 + "</option>");
                        // $arrSize.push(v.option1);
                        // }

                        // if($arrColor.indexOf(v.option2) <= -1 )
                        // {
                        // $('#product-quick-add select.color').append("<option >" + v.option2 + "</option>");
                        // $arrColor.push(v.option2);
                        // }
                    });

                    new Haravan.OptionSelectors("product-select-qa", { product: product, onVariantSelected: callBackQuickAdd });

                    // select default variants
                    var $size = $("#product-select-qa-option-0 option:first").attr('selected', 'selected');
                    var $color = $("#product-select-qa-option-1 option:first").attr('selected', 'selected');
                    var $material = $("#product-select-qa-option-2 option:first").attr('selected', 'selected');
                    var $tagSelectOption0 = '#product-select-qa-option-0';
                    var $tagSelectOption1 = '#product-select-qa-option-1';
                    var $tagSelectOption2 = '#product-select-qa-option-2';
                    refreshProductSelections($tagSelectOption0, $size, $tagSelectOption1, $color, $tagSelectOption2, $material);

                    //auto add current variant...
                    // $('#ProductDetailsForm_QuickAdd').submit();
                    $("#addtocartQA").click();

                }//end: success
            });

            //$('.modal-backdrop').css('opacity', '0');
            return false;
        }


        jQuery(document).ready(function ($) {
            //add to cart for QuickView
            $("#addtocartQA").on('click', function (e) {  //.click(function(e){ //

                e.preventDefault();
                addItem('ProductDetailsForm_QuickAdd', currentIMG);

            });
        });
        /*** end quick add cart ***/

    </script>
    <!-- end quick add cart -->
    <!--vinh edited 20160803 #T2V-->
    <script src="/Assets/client/hstatic.net/589/1000057589/1000148995/layout2208.js?v=258" type="text/javascript"></script>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            Layout.init();
            Layout.initOWL();

            Layout.initFixHeaderWithPreHeader();
            Layout.initNavScrolling();
        });
    </script>
    <!--vinh edited 20160803 #T2V-->
    <script async src="/Assets/client/hstatic.net/589/1000057589/1000148995/footer_scripts2208.js?v=258" type="text/javascript"></script>
    <script src="~/Assets/client/js/plugins/mustache.min.js"></script>
    <script src="~/Assets/client/js/plugins/numeral.js"></script>
    <script src="~/Assets/client/js/plugins/jquery.twbsPagination.min.js"></script>
    @RenderSection("footerJS", required: false)
</body>
<!-- Mirrored from ephukien.myharavan.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Sep 2016 15:53:03 GMT -->
</html>