@model IEnumerable<MyShop.Models.ProductCategoryViewModel>

<ul class='nav nav-pills nav-stacked'>
    <li class='menu'><a class='menu' href="/san-pham/all/"><img src='/Assets/client/hstatic.net/589/1000057589/1000148995/menu_icon_12208.png?v=258' />Tất cả sản phẩm</a></li>
   @foreach (var category in Model.Where(x => x.ParentID == null))
   {
       var childCategories = Model.Where(x => x.ParentID == category.ID);
       if (childCategories.Count() > 0)
       {
        <li class='menu'>
            <a class='menu' href="/san-pham/@category.Alias-@category.ID/"><img src='@category.Image' />@category.Name<i class='icon-angle-right arrow'></i></a>
            <ul class='submenu'>
                <div class='submenu_padding'>
                    @foreach (var childCategory in childCategories)
                    {
                        <li class=''><a class='sub-menu' href="/san-pham/@childCategory.Alias-@childCategory.ID/"><div>@childCategory.Name</div></a></li>
                    }
                </div>
            </ul>
        </li>
       }
       else
       {
        <li class='menu'>
            <a class='menu' href="/san-pham/@category.Alias-@category.ID/"><img src='category.Image' />@category.Name<i class='icon-angle-right arrow'></i></a>
        </li>
       }
   }    
    <li class='menu'><a class='menu' href="/san-pham/news/"><img src='/Assets/client/hstatic.net/589/1000057589/1000148995/menu_icon_62208.png?v=258' />Hàng mới về</a></li>
    <li class='menu'><a class='menu' href="/san-pham/duoc-xem-nhieu/"><img src='/Assets/client/hstatic.net/589/1000057589/1000148995/menu_icon_72208.png?v=258' />Được xem nhiều</a></li>
    <li class='menu'><a class='menu' href="/san-pham/khuyen-mai/"><img src='/Assets/client/hstatic.net/589/1000057589/1000148995/menu_icon_82208.png?v=258' />Đang khuyến mãi</a></li>
    <li class='menu'><a class='menu' href="/san-pham/noi-bat/"><img src='/Assets/client/hstatic.net/589/1000057589/1000148995/menu_icon_92208.png?v=258' />Nổi bật</a></li>
</ul>
