@model IEnumerable<MyShop.Models.PostViewModel>

@foreach (var post in Model)
{
    var url = "/bai-viet/" + post.PostCategory.Alias + "/" + post.Alias + "-" + post.ID + ".html";
    <div class="spost clearfix">
        <div class="entry-c">
            <div class="entry-title">
                <h4><a href="@url">@post.Name</a></h4>
            </div>
            <ul class="entry-meta">
                <li>@post.CreatedDate</li>
            </ul>
        </div>
    </div>
}
