<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="3"/>
  <add key="PageSizePost" value="4"/>
  <add key="MaxPage" value="5"/>

  <add key="CurrentLink" value="http://localhost:52121/"/>
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="z00freestyle00z@gmail.com"/>
  <add key="FromEmailPassword" value="z00hoilamgi00z"/>
  <add key="FromName" value="ePhuKien"/>
  <add key="AdminEmail" value="z00hoilamgi00z@gmail.com"/>
</appSettings>
